body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}

#destaque {
    margin-top: 20px;
    font-size: 20px;
    color: blue;
}