h1{
    color: #0084ff;
}
p{
    color: white;
}
.c{
    padding: 30px;
    background-color: #039aff;
}
.cc{
    background-color: #069e41;
    margin: 30px;
}
.ccc{
   background-color: #E65100;
   padding: 20px;
   margin: 20px;
}


