body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

p {
    color: black;
    font-size: 25px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}